// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table {
  background-color: white;
  table-layout: fixed;
}

th, th > a {
  text-align: center;
  padding: 5px 10px;
  background-color: gray;
  color: white;
  text-shadow: 0 1px 2px rgba(0,0,0,0.2);
  font-size: 1.1em;
}

td {
  padding: 4px 10px;
  height: 70px;
}

tr {
  border-bottom: 1px solid gray;
  padding: 5px 0px;
}

.stats {
  width: 7%;
  font-weight: 500;
}

.tags {
  width:30%;
}


.ranking-box {
  display: flex;
  flex-direction: column;
  font-weight: bold;
}
.rank{
  font-size:20px;
  font-weight:bold;
}
.status-new {
  font-size: 0.5em;
  color: white;
  background-color: green;
}

#title-box {
  display: flex;
  flex-direction: column;
}
#source-span{
  font-size: 0.6em;
}

#tag_cloud {
  width: 200px;
  line-height: 1.6em;
}


.tag_link {
    background: #ededed;
    padding: 2px;
    border-radius: 2px;
    margin: 5px 0px;
    color: #408bfe;
    font-size:0.7em;
}
.tag_link:hover{
  border-bottom: 1px solid #408bfe;
}


// top_tags

.xs {
    font-size: 0.6em;
    background: #ededed;
    padding: 2px;
    border-radius: 2px;
    margin: 5px 0px;
    color: #408bfe
}

.s {
    font-size: 1em;
    background: #ededed;
    padding: 2px;
    border-radius: 2px;
    margin: 5px 0px;
    color: #408bfe;
}

.m {
    font-size:1.4em;
    background: #ededed;
    padding: 2px;
    border-radius: 2px;
    margin: 5px 0px;
    color: #408bfe;
}

.l {
    font-size:1.6em;
    background: #ededed;
    padding: 2px;
    border-radius: 2px;
    margin: 5px 0px;
    color: #408bfe;
}

.xl {
    font-size: 2.0em;
    background: #ededed;
    padding: 2px;
    border-radius: 2px;
    margin: 5px 0px;
    color: #408bfe;
}
.xs:hover, .sm:hover, .m:hover, .l:hover, .xl:hover {
  border-bottom: 1px solid #408bfe;
}

ol > li {
  margin: 10px 40px;
  float:left;
}
