// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// articles#index

th {
  text-align:center;
  padding: 5px;
}

td {
  padding: 5px;
}

.td-center {
  text-align:center
}
